html
	
	script(src='/socket.io/socket.io.js')
	script(src='/jquery-1.9.0.min.js')
	script(src='/jqui/jquery.ui.core.js')
	script(src='/jqui/jquery.ui.widget.js')
	script(src='/jqui/jquery.ui.mouse.js')
	script(src='/jqui/jquery.ui.draggable.js')
	script(src='/new/mainapp.js')
	link(href='/new/basic.css' rel='stylesheet')
	head
		title="RTC by Raizaku"
	body
		div.content
			input#nickname(type='text' placeholder='Your Nickname Here...')
			div#typeWriter				
				h6#textbox
			input#inputArea(type='text' placeholder='Your Message Here...')
